$primary-color: #FFE600;
$secondary-color: #333333;
$dark_grey-color: #666666;
$grey-color:#999999;
$light-grey-color:#EEEEEE;
$blue-color: #3483fA;
$white-color:#FFFFFF;

$helvetica-font-family: Helvetica,Roboto,Arial,sans-serif;

$x-small-font: 1.2rem;
$small-font: 1.4rem;
$medium-font: 1.6rem;
$base-font: 1.8rem;
$large-font: 2.4rem;
$x-large-font: 2.8rem;
$xx-large-font: 4.6rem;

$border-radius: 4px;
$border-radius-input: 2px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color:$secondary-color;
    background-color: $light-grey-color;
    font-family: $helvetica-font-family;
    font-size: 62.5%;
}

@mixin background-image ($url, $size){
    background-image: url( $url );
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin flex-center() {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin grid ($bg-color, $gap){
    background-color: $bg-color;
    display: grid;
    gap: $gap;
}

@mixin title($font-size) {
    font-size: $font-size;
    font-weight: 400;
}

.header {
    @include flex-center();
    background-color: $primary-color;
    height: 50px;

    &__image {
        margin-right: 25px;
        width: 45px;
    }

    &__form {
        @include flex-center();
        width: 65%;
        
        input{
            border: none;
            border-radius: 4px 0px 0px 4px;
            flex-grow: 1;
            font-size: $base-font;
            font-family: $helvetica-font-family;
            outline: none;
            padding: 6px 10px;
        }
    
        button {
            @include background-image('./assets/search.png', 15px);
            border: none;
            border-radius: 0px 4px 4px 0px;
            height: 33px;
            width: 40px;
            
        }

    }
}

main {
    @include flex-center();
    background-color: $light-grey-color;
    padding: 32px 0;
}

.products-cards,
.product-detail {
    border-radius: $border-radius;
    width: 70%;
}

.card {
    @include grid($white-color, 16px);
    grid-template: auto auto / 180px 65% auto;
    grid-template-areas: 
        "image info city"
        "separator separator separator";
    width: 100%;
    padding: 16px 16px 0px;

    &:first-child {
        border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
        border-radius: 0px 0px $border-radius $border-radius;

        hr { 
            display: none; 
        }
    }

    &__image {
        border-radius: $border-radius;
        cursor: pointer;
        grid-area: image;
        height: 180px;
        width: 180px;

        img {
            border-radius: $border-radius;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__content {
        grid-area: info ;
    }

    &__price {
        font-size: $large-font; 

        span {
            margin-right: 5px;
        }
    }

    &__title {
        @include title( $base-font );
        cursor: pointer;
        margin-top: 32px;
    }

    &__free-shipping{
        background-size: contain;
        height: 14px;
        margin-left: 7px;
        width: 14px;
    }

    &__city {
        font-size: $x-small-font;
        grid-area: city;
    }
}

.card__content,
.card__city {
    padding-top: 16px;
}

hr {
    border: 0.5px solid $light-grey-color;
    grid-area: separator;
}

.product-detail {
    @include grid( $white-color, 16px );
    grid-template: auto auto / 73% auto;
    padding: 32px;

    &__image {
        border-radius: $border-radius;
        height: auto;
        justify-self: center;
        max-width: 680px;
        width: 83.8%
    }

    &__info {
        button {
            color: $white-color;
            cursor: pointer;
            background-color: $blue-color;
            border: none;
            border-radius: $border-radius;
            font-size: $medium-font;
            padding: 10px;
            width: 100%;
        }
    }

    &__description {
        margin-top: 32px;

        h2 {
            @include title($x-large-font);
        }

        p { 
            color:$grey-color;
            font-size: $medium-font;
            margin-top: 32px;
            text-align: justify;
            word-break: break-word;
        }
    }
}

.product__title {
    @include title($large-font);
    margin-top: 16px;
}

.product__price {
    font-size: $xx-large-font;
    margin: 32px 0px;
    position: relative;

    span {
        font-size: $base-font;
        margin-left: 1px;
        position: absolute;
        top: 7px;
    }
} 


.product__sold {
    font-size: $small-font;
}


@media screen and (max-width:1024px) {
    html {
        font-size: 8px;
    }

    .header {
        &__image {
            height: 29px;
            margin-right: 18px;
            width: 44px;
        }

        &__form {
            width: 64%;

            input{ width: 89.5%; }

            button {
                height: 30px;
            }
        }
    }

    .card {
        grid-template: auto auto / 110px 55% auto;
        grid-template-areas: 
            "image info city"
            "separator separator separator";
        
        &__image {
            height: 110px;
            width: 110px;
        }

        &__title { margin-top: 20px; }
    }

    .product-detail{
        grid-template: auto auto / 59% auto;
        
        &__image { width: 95%; }
    
        &__description {
            grid-column: 1 / span 2;

            p { margin-top: 25px; }
        }    
    }

    .product__price {  margin: 25px 0px; }
}

@media screen and (max-width:600px) {
    html {
        font-size: 8px;
    }

    .header {
        &__image {
            height: 26px;
            margin-right: 12px;
            width: 38px;
        }

        &__form {
            input{ width: 80%; }
        
            button {
                height: 27px;
                width: 30px;  
            }
        }
    }

    .card {
        gap: 10px;
        grid-template: auto auto auto/90px auto;
        grid-template-areas: 
            "image info"
            ". city"
            "separator separator";
        padding: 10px;
        
        &__image {
            height: 90px;
            width: 90px;
        }

        &__content { padding-top: 10px; }
        &__title { margin-top: 13px; }
        &__city { padding: 0px; }
    }

    .product-detail{
        gap: 6px;
        grid-template: auto auto auto/100%;
        
        &__image {
            grid-row: 3;
            margin-top: 20px;
            width: 95%;
        }
        
        &__info { display: contents; }
        &__description {
            grid-column: unset;

            p { margin-top: 25px }
        }    
    }

    .product__title { margin: 0px; }
}   