// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('./fonts/navigation.woff2') format('woff2'),
//     url('./fonts/navigation.woff') format('woff');
//     font-style: normal;
//     font-weight: normal;
// }

$primary-color: #FFE600;
$secondary-color: #333333;
$dark_grey-color: #666666;
$grey-color:#999999;
$light-grey-color:#EEEEEE;
$blue-color: #3483fA;
$white-color:#FFFFFF;

$helvetica-font-family: Helvetica,Roboto,Arial,sans-serif;
$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-base: 1.8rem;


$border-radius: 0.4rem;
$border-radius-input: 0.2rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $helvetica-font-family;
    background-color: $white-color;
}

@mixin flex-center($color) {
    align-items: center;
    background-color: $color;
    display: flex;
    
}

.header {
    @include flex-center($primary-color);
    height: 5rem;
    justify-content: center;

    &__image {
        height: 3rem;
        margin-right: 2.5rem;
        width: 4.5rem;
    }

    &__form {
        width: 60%;
        
        input{
            border: none;
            border-radius: $border-radius-input;
            font-size: $font-base;
            font-family: $helvetica-font-family;
            outline: none;
            padding: 0.6rem;
            width: 94%;
        }
    
        button {
            background-image: url('./assets/ic_Search@2x.png.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1.5rem;
            border: none;
            height: 3.2rem;
            /* Pendiente validar este padding */
            padding: 1rem;
            width: 3.5rem;
            
        }

    }
}

main {
    padding: 3.2rem 0;
}

.products-cards {
    @include flex-center($grey-color);
    border-radius: $border-radius;
    flex-direction: column;
    margin: 0rem auto;
    width: 80%;
}

.card {
    color: $secondary-color;
    background-color: $white-color;
    display: grid;
    grid-template: auto auto / 18rem 70% auto;
    gap: 1.6rem;
    grid-template-areas: 
        "image info city"
        "separator separator separator";
    padding: 1.6rem;
    width: 100%;

    &:last-child hr {
        display: none;
    }

    &__image {
        border-radius: $border-radius;
        cursor: pointer;
        grid-area: image;
        height: 18rem;
        margin-right: 1.6rem;
        width: 18rem;

        img {
            border-radius: $border-radius;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__content {
        grid-area: info ;
    }

    &__price {
        font-size: 2.4rem; 

        span {
            margin-right: 0.5rem;
        }
    }

    &__title {
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 3.2rem;
    }

    &__free-shipping{
        background-size: contain;
        height: 1.4rem;
        margin-left: 0.7rem;
        width: 1.4rem;
    }

    &__city {
        font-size: $font-small;
        grid-area: city;
    }
}

.card__content,
.card__city {
    padding-top: 1.6rem;
}

hr {
    border: 0.05rem solid $light-grey-color;
    grid-area: separator;
}

/** Tablet **/
@media screen and (max-width:1024px) {
    .header {
        &__image {
            height: 2.9rem;
            margin-right: 1.8rem;
            width: 4.4rem;
        }

        &__form {
            input{
                font-size: 1.5rem;
                width: 88%;
            }

            button {
                height: 3rem;
                /* Pendiente validar este padding */
                padding: 0.9rem;
            }
        }
    }

    .card {
        grid-template: auto auto / 11rem 55% auto;
        grid-template-areas: 
            "image info city"
            "separator separator separator";
        
        &__image {
            height: 11rem;
            width: 11rem;
        }

        &__title {
            font-size: 1.5rem;
            margin-top: 2rem;
        }

        &__price { font-size: 2.1rem; }

        &__city {  font-size: 0.9rem; }
    }
}

/** Mobile **/
@media screen and (max-width:600px) {
    .header {
        &__image {
            height: 2.6rem;
            margin-right: 1.2rem;
            width: 3.8rem;
        }

        &__form {
            input{
                font-size: 1.3rem;
                width: 80%;
            }
        
            button {
                height: 2.7rem;
                width: 3rem;  
            }
        }
    }

    .card {
        grid-template: auto auto auto/9rem auto;
        gap: 1rem;
        grid-template-areas: 
            "image info"
            ". city"
            "separator separator";
        padding: 1rem;
        
        &__image {
            height: 9rem;
            width: 9rem;
        }

        &__content { padding-top: 1rem; }

        &__title {
            font-size: 1.3rem;
            margin-top: 1.3rem;
        }

        &__price {  font-size: 1.9rem; }

        &__city {
            font-size: 0.9rem;
            padding: 0rem;
        }
    }
}