* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #333333;
  background-color: #EEEEEE;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-size: 62.5%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #FFE600;
  height: 50px;
}
.header__image {
  margin-right: 25px;
  width: 45px;
}
.header__form {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 65%;
}
.header__form input {
  border: none;
  border-radius: 4px 0px 0px 4px;
  flex-grow: 1;
  font-size: 1.8rem;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  outline: none;
  padding: 6px 10px;
}
.header__form button {
  background-image: url("./assets/search.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  height: 33px;
  width: 40px;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  padding: 32px 0;
}

.products-cards {
  border-radius: 4px;
  width: 70%;
}
.products-cards--state {
  background-color: white;
  padding: 32px;
}

.card {
  background-color: #FFFFFF;
  display: grid;
  gap: 16px;
  cursor: pointer;
  grid-template: auto auto/180px 65% auto;
  grid-template-areas: "image info city" "separator separator separator";
  padding: 16px 16px 0px;
  width: 100%;
}
.card:first-child {
  border-radius: 4px 4px 0 0;
}
.card:last-child {
  border-radius: 0px 0px 4px 4px;
}
.card:last-child hr {
  display: none;
}
.card__image {
  border-radius: 4px;
  grid-area: image;
  height: 180px;
  width: 180px;
}
.card__image img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card__content {
  grid-area: info;
}
.card__price {
  font-size: 2.4rem;
}
.card__price span {
  margin-right: 5px;
}
.card__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 32px;
}
.card__free-shipping {
  background-size: contain;
  height: 14px;
  margin-left: 7px;
  width: 14px;
}
.card__city {
  font-size: 1.2rem;
  grid-area: city;
}

.card__content,
.card__city {
  padding-top: 16px;
}

hr {
  border: 0.5px solid #EEEEEE;
  grid-area: separator;
}

.product-detail {
  background-color: #FFFFFF;
  display: grid;
  gap: 16px;
  border-radius: 4px;
  width: 70%;
  grid-template: auto auto/73% auto;
  padding: 32px;
}
.product-detail--state {
  grid: unset;
  gap: unset;
}
.product-detail__image {
  border-radius: 4px;
  height: auto;
  justify-self: center;
  max-width: 430px;
  width: 55.8%;
}
.product-detail__info button {
  background-color: #3483fA;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 13px;
  width: 100%;
}
.product-detail__description {
  margin-top: 32px;
}
.product-detail__description h2 {
  font-size: 2.8rem;
  font-weight: 400;
}
.product-detail__description p {
  color: #999999;
  font-size: 1.6rem;
  margin-top: 32px;
  text-align: justify;
  word-break: break-word;
}

.product__title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 16px;
}

.product__price {
  font-size: 4.6rem;
  margin: 32px 0px;
  position: relative;
}
.product__price span {
  font-size: 1.8rem;
  margin-left: 1px;
  position: absolute;
  top: 7px;
}

.product__sold {
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }

  .header__image {
    height: 29px;
    margin-right: 18px;
    width: 44px;
  }
  .header__form {
    width: 64%;
  }
  .header__form input {
    width: 89.5%;
  }
  .header__form button {
    height: 30px;
  }

  .card {
    grid-template: auto auto/110px 55% auto;
    grid-template-areas: "image info city" "separator separator separator";
  }
  .card__image {
    height: 110px;
    width: 110px;
  }
  .card__title {
    margin-top: 20px;
  }

  .product-detail {
    grid-template: auto auto/53% auto;
  }
  .product-detail__image {
    width: 95%;
  }
  .product-detail__description {
    grid-column: 1/span 2;
  }
  .product-detail__description p {
    margin-top: 25px;
  }

  .product__price {
    margin: 25px 0px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 7.4px;
  }

  .header__image {
    height: 26px;
    margin-right: 12px;
    width: 38px;
  }
  .header__form input {
    width: 80%;
  }
  .header__form button {
    height: 27px;
    width: 30px;
  }

  .card {
    gap: 10px;
    grid-template: auto auto auto/90px auto;
    grid-template-areas: "image info" ". city" "separator separator";
    padding: 10px;
  }
  .card__image {
    height: 90px;
    width: 90px;
  }
  .card__content {
    padding-top: 10px;
  }
  .card__title {
    margin-top: 13px;
  }
  .card__city {
    padding: 0px;
  }

  .product-detail {
    gap: 6px;
    grid-template: auto auto auto/100%;
  }
  .product-detail__image {
    grid-row: 3;
    margin-top: 20px;
    width: 95%;
  }
  .product-detail__info {
    display: contents;
  }
  .product-detail__description {
    grid-column: unset;
  }
  .product-detail__description p {
    margin-top: 25px;
  }

  .product__title {
    margin: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
